<header id="main-header">
  <div class="header-left">

    <div class="logo-container" id="logo-wrapper">
      <div class="logo" id="header-logo">
        <a href="index.html">
          <img src="../assets/Logo bản sáng.png" alt="ARTDICT" class="header-logo-img" />
        </a>
      </div>
    </div>
    <span class="logo-badge" id="header-badge">Nghệ thuật & Quà tặng</span>
  </div>
  <nav class="header-nav">
    <a href="catalogue.html" class="header-nav-link" id="header-nav-catalogue">Sản phẩm</a>
    <a href="authors.html" class="header-nav-link" id="header-nav-author">Tác giả</a>
  </nav>
  <div class="menu-trigger" id="menu-open-btn">Menu</div>
</header>