<div class="menu-overlay" id="main-menu-overlay">
  <div class="menu-close" id="menu-close-btn">Đóng</div>
  <nav>
    <ul>
      <li style="--i: 1">
        <a href="index.html" class="menu-link" id="nav-home">Trang chủ</a>
      </li>
      <li style="--i: 2">
        <a href="index.html#manifesto-sec" class="menu-link" id="nav-about">Tuyên ngôn</a>
      </li>
      <li style="--i: 3">
        <a href="catalogue.html" class="menu-link" id="nav-catalogue">Sản phẩm</a>
      </li>
      <li style="--i: 4">
        <a href="index.html#team-sec" class="menu-link" id="nav-team">Đội ngũ</a>
      </li>
      <li style="--i: 5">
        <a href="authors.html" class="menu-link" id="nav-author">Tác giả</a>
      </li>
      <li style="--i: 6">
        <a href="index.html#footer-sec" class="menu-link" id="nav-contact">Liên hệ</a>
      </li>
    </ul>
  </nav>
</div>
