DATABASE_URL="postgresql://artdict:artdict_password@postgres:5432/artdict_db?schema=public"
ADMIN_EMAIL="admin@artdict.local"
ADMIN_PASSWORD="ChangeMe123!"
SESSION_SECRET="replace-with-at-least-32-random-characters"
NODE_ENV="development"
